Repository ukrcode/diui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: lint and run lint
  .husky/pre-commit
  eslint.config.js
  eslint.config.mjs
  package.json
  packages/docsV2/package.json
  packages/lib/sass/config/colors.const.scss
  packages/lib/sass/selectors/avatar.selectors.scss
  packages/lib/sass/variables/color-variables.scss
  packages/lib/sass/variables/colors.scss
  packages/lib/sass/variables/gradient-variables.scss
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: lint and run lint
  .husky/pre-commit
Due: none

ci/cd: add GitHub workflow for prs
  .github/workflows/pr-check.yml
  .github/workflows/status-checks.yml
Due: none

ci/cd: swap pnpm and node setup
  .github/workflows/pr-check.yml
  .github/workflows/status-checks.yml
Due: none

ci/cd: fix formatting in workflow
  .github/workflows/pr-check.yml
Due: none

chore: switch to new colors
  packages/docs/src/components/MainBanner.astro
  packages/docs/src/components/colors/color-bg-example.tsx
  packages/docs/src/components/colors/color-text-example.tsx
  packages/docs/src/components/components/badge/badge-example.tsx
  packages/docs/src/components/components/icon/icon-example.tsx
  packages/docs/src/components/components/link/link-example.tsx
  packages/docs/src/content/docs/color-text-docs.mdx
  packages/lib/css/diui.css
  packages/lib/css/diui.css.map
  packages/lib/css/diui.min.css
  packages/lib/sass/components/badge/badge.scss
  packages/lib/sass/components/button/button-primary.scss
  packages/lib/sass/components/colors/_index.scss
  packages/lib/sass/components/colors/background.scss
  packages/lib/sass/components/colors/colored-background.scss
  packages/lib/sass/components/colors/colored-text.scss
  packages/lib/sass/components/footer/footer.scss
  packages/lib/sass/components/header/header.scss
  packages/lib/sass/components/link.scss
  packages/lib/sass/root/_index.scss
  packages/lib/sass/selectors/badge.selectors.scss
  packages/lib/sass/selectors/color.selectors.scss
  packages/lib/sass/shared/css-vars.scss
  packages/lib/sass/shared/functions.scss
  packages/lib/sass/variables/_index.scss
  packages/lib/sass/variables/color-variables.scss
  packages/lib/sass/variables/colors.scss
  packages/lib/sass/variables/flags.scss
Due: prettier --write, eslint --fix

feat: update mixins order
  README.md
  packages/lib/css/diui.css.map
  packages/lib/sass/components/colors/colored-background.scss
  packages/lib/sass/shared/mixins/color.mixins.scss
Due: prettier --write

fix: lint issues in styles
  packages/lib/.stylelintrc.json
  packages/lib/css/diui.css.map
  packages/lib/css/diui.min.css
  packages/lib/sass/shared/functions.scss
  packages/lib/sass/variables/colors.scss
Due: prettier --write

feat: add GitHub icon, add GitHub link to home page
  packages/docs/src/components/MainBanner.astro
  packages/lib/assets/icons/github-icon.svg
  packages/lib/css/diui.css
  packages/lib/css/diui.css.map
  packages/lib/sass/components/icon/icon.scss
  packages/lib/sass/selectors/icon.selectors.scss
  packages/lib/sass/shared/icon-strings.scss
Due: prettier --write, eslint --fix

fix: add stylelint-prettier plugin
  packages/lib/.stylelintrc.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: prettier --write

ci/cd: add prettier rules to lint
  packages/lib/.stylelintrc.json
Due: prettier --write

chore: disable lint for failing line
  packages/lib/sass/shared/functions.scss
Due: prettier --write

feat: add ag-grid-theme folder
  packages/ag-grid-theme/README.md
Due: prettier --write

docs: update ag-grid-theme docs
  packages/ag-grid-theme/README.md
Due: prettier --write

feat: add dummy mui theme folder
  packages/mui-theme/.gitkeep
Due: none

ci/cd: update stylelint package
  packages/lib/package.json
Due: prettier --write

docs: update TODO, update license reference
  README.md
  TODO.md
Due: prettier --write

docs: update specification for Headings
  SPECIFICATION.md
Due: prettier --write

ci-cd: update deploy hook to latest version
  .github/workflows/deploy-to-gh-pages.yml
Due: none

ci-cd: bump node.js version to 24 for deploy
  .github/workflows/deploy-to-gh-pages.yml
Due: none

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

chore: update css with the latest styling
  packages/lib/css/diui.min.css
Due: prettier --write

docs: update specification
  SPECIFICATION.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}) or (any of: *.{json,md,mdx,css,scss,html})
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro,mjs,cjs}
